*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

:root{
    --cor-texto: #333333;
    --cor-fundo: #ffffff;
    --btn-fundo: #22e954;
    --btn-fundo-hover: #19aa3e;
}

.theme-high-contrast{
    --cor-texto: #ffffff;
    --cor-fundo: #000000;
    --btn-fundo: #ffff00;
    --btn-fundo-hover: #ffffff;
    --btn-texto: #000000;
}

.theme-high-contrast header img{
    filter: invert(1);
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Work Sans", sans-serif;
}

header{
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

header img{
    display: block;
    width: 100px;
}

section img{
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

h1{
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

p{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 40px;
}

a{
    color: var(--cor-texto);
    font-size: 1.25rem;
    text-decoration: none;
    background-color: var(--btn-fundo);
    width: 85px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    margin: 30px auto;
}

a:hover{
    background-color: var(--btn-fundo-hover);
    color: var(--btn-texto);
}

@media (max-width: 768px){
    header{
        margin-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }

    section img{
        width: 60px;
        margin-top: 60px;
    }

    h1{
        font-size: 1.875rem;
    }

    p{
        margin-top: 20px;
        font-size: 1rem;
    }
}
